@use "../../styles/media-breakpoints" as *;

.indicators {
    .loader {
        position: fixed;
    }

    canvas {
        width: 100% !important;
        height: 100% !important;
    }

    &__financial {
        &-labels {
            margin-top: 30px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;

            li {
                display: flex;
                align-items: center;
                gap: 7px;
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;

                div {
                    flex: 0 0 14px;
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                }
            }
        }
    }

    &__employees {
        & > .dashboards__block {
            @media (min-width: $media-xxl) {
                display: grid;
                grid-template-columns: repeat(2, 50%);
            }
        }

        &-left {
            @media (min-width: $media-xxl) {
                border-right: 1px solid var(--color-gray-30);
                padding-right: 20px;
            }
        }

        &-right {
            @media (min-width: $media-xxl) {
                padding-left: 20px;
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 10px;
            max-height: 350px;
            overflow-y: auto;

            &__item {
                padding-bottom: 10px;
                border-bottom: 1px solid var(--color-gray-40);

                div {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 150%;
                }

                span {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 150%;
                    color: var(--color-gray-70);
                }
            }
        }

        &-metrics-statistics {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            margin-bottom: 20px;
        }
    }

    &__financial-metrics {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .statistics-block__content {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            @media (min-width: $media-xxl) {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
        }

        @media (min-width: $media-xxl) {
            padding-top: 85px;
            position: relative;
        }
    }

    &__financial-indicators {
        max-width: 100%;

        &__wrapper {
            position: relative;
            height: 300px;
            overflow-x: auto;
            overflow-y: auto;
        }

        &__header {
            width: 100%;
            display: grid;
            align-items: center;
            grid-template-columns: 159px repeat(4, 1fr);
        }

        &__body {
            width: 100%;
            display: grid;
            align-items: start;
            grid-template-columns: 159px repeat(4, 1fr);

            & > div {
                position: relative;
                min-height: 300px;
                min-width: 250px;
            }
        }

        &__label-list {
            padding-top: 9px;
            padding-right: 5px;
            display: flex;
            flex-direction: column;

            li {
                padding: 22px 0;

                .hidden-group {
                    z-index: 1;
                    position: relative;
                    width: fit-content;

                    &:hover {
                        z-index: 10;

                        .hidden-text {
                            visibility: visible;
                            opacity: 1;
                            max-height: fit-content;
                        }

                        .visible-text {
                            opacity: 0;
                            visibility: hidden;
                        }
                    }

                    .visible-text {
                        max-width: 150px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 100%;
                        transition: opacity var(--trans);
                    }

                    .hidden-text {
                        border-radius: 10px;
                        position: absolute;
                        left: -5px;
                        top: -5px;
                        z-index: 2;
                        width: max-content;
                        max-width: 400px;
                        max-height: 0;
                        overflow: hidden;
                        opacity: 0;
                        visibility: hidden;
                        padding: 5px;
                        transition: opacity var(--trans);
                        background: var(--color-white);
                        box-shadow: 0 6px 20px rgb(230 230 230);
                        white-space: normal;
                    }
                }
            }
        }

        .loader {
            position: absolute;
            z-index: 1;
        }
    }

    &__manager-reports {
        .reports__list {
            max-height: 500px;
            overflow-x: hidden;
            overflow-y: auto;
            // scrollbar-gutter: stable;

            @media (min-width: $media-xxl) {
                min-height: 500px;
            }

            &-header {
                margin-right: 10px;
                grid-template-columns: 1fr 100px 1fr 120px;

                @media (min-width: $media-xxxl) {
                    grid-template-columns: 1fr 140px 1fr 140px;
                }
            }

            &-item {
                display: grid;
                grid-template-columns: 1fr 100px 1fr 120px;

                @media (min-width: $media-xxxl) {
                    grid-template-columns: 1fr 140px 1fr 140px;
                }

                .reports__list-item__col.active {
                    font-weight: 600;

                    > div,
                    > span {
                        font-weight: 600;
                    }
                }
            }
        }
    }

    &__funnel-metrics {
        &-statistics {
            grid-template-columns: repeat(3, 1fr);
            align-items: end;
            margin-bottom: 20px;

            @media (min-width: 680px) {
                grid-template-columns: repeat(2, 100px) 1px repeat(3, 100px);
            }
        }

        .reports__list {
            max-height: 400px;
            overflow-x: hidden;
            overflow-y: auto;
            // scrollbar-gutter: stable;

            @media (min-width: $media-xxl) {
                min-height: 400px;
            }

            &-header {
                margin-right: 10px;
            }

            &-header,
            &-item {
                display: grid !important;
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }

    &__project-manager-reports {
        .registry-table__thead-item {
            z-index: 1 !important;

            .multi-select {
                position: absolute;
                top: 40px;
                transform: translateX(-50%);
            }
        }

        .reports__list {
            max-height: 400px;
            overflow-x: hidden;
            overflow-y: auto;
            // scrollbar-gutter: stable;

            @media (min-width: $media-xxl) {
                min-height: 400px;
            }

            &-header {
                margin-right: 10px;
                @media (min-width: $media-md) {
                    // grid-template-columns: repeat(4, 1fr) 120px;
                    grid-template-columns: repeat(2, 1fr) 22% 1fr 120px;
                }

                @media (min-width: $media-xxxl) {
                    grid-template-columns: repeat(4, 1fr) 140px;
                }
            }

            &-item {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                // grid-template-rows: repeat(2, auto);

                @media (min-width: $media-md) {
                    // grid-template-columns: repeat(4, 1fr) 120px;
                    grid-template-columns: repeat(2, 1fr) 22% 1fr 120px;
                }

                @media (min-width: $media-xxl) {
                    padding: 20px !important;
                }

                @media (min-width: $media-xxxl) {
                    grid-template-columns: repeat(4, 1fr) 140px;
                }

                .reports__list-item__col:nth-child(1) {
                    grid-column: 1 / 2;
                    grid-row: 1;
                }

                .reports__list-item__col:nth-child(2) {
                    grid-column: 2 / 3;
                    grid-row: 1;
                }

                .reports__list-item__col:nth-child(3) {
                    grid-column: 1;
                    grid-row: 2;
                }

                .reports__list-item__col:nth-child(4) {
                    grid-column: 2;
                    grid-row: 2;
                }

                .rate-switch {
                    grid-column: 3;
                    grid-row: 2;
                }

                .reports__list-item__col:nth-child(1),
                .reports__list-item__col:nth-child(2),
                .reports__list-item__col:nth-child(3),
                .reports__list-item__col:nth-child(4),
                .rate-switch {
                    @media (min-width: $media-md) {
                        grid-column: auto;
                        grid-row: auto;
                    }
                }

                .reports__list-item__col.active {
                    > div:first-child {
                        font-weight: 600;
                    }
                }
            }
        }
    }

    &__completed-reports {
        .reports__list {
            // scrollbar-gutter: stable;
        }

        .reports__list-header {
            margin-right: 10px;
            grid-template-columns: repeat(3, 1fr);
        }

        .reports__list-item {
            grid-template-columns: repeat(3, 1fr);

            .reports__list-item__col.active {
                > div:first-child {
                    font-weight: 600;
                }
            }
        }
    }

    &__financial-metrics-title {
        margin: 0;
        margin-top: 20px;
    }

    &__employees-title {
        margin: 0;
        margin-bottom: 20px;
    }
}

.dashboards {
    position: relative;
    padding-bottom: 40px;

    &__filters {
        padding: 0 20px 30px;
        min-height: 100%;
        height: calc(100vh - 115px);
        display: flex;
        flex-direction: column;
        min-height: 100%;
        flex-grow: 1;
        overflow-y: auto;
        overflow-x: hidden;
        align-items: center;

        @media (min-width: $media-xxl) {
            height: auto;
            min-height: auto;
            padding: 20px 40px;
            overflow: visible;
            background: var(--color-white);
            border-radius: 10px;
            align-items: unset;
        }

        @media (min-width: $media-xxxxl) {
            padding: 20px 0;
        }

        .custom-datepicker {
            @media (min-width: $media-xxl) {
                left: 100%;
            }

            @media (min-width: $media-xxxl) {
                left: 50%;
            }

            &-wrapper {
                width: 100%;

                @media (min-width: $media-lg) {
                    width: 175px;
                    flex: 0 0 175px;
                }
            }
        }

        &-clear-btn {
            white-space: nowrap;
            display: flex;
            align-items: center;
            gap: 5px;
            color: var(--color-gray-70);
            font-weight: 600;
            font-size: 13px;
            line-height: 150%;

            @media (min-width: $media-lg) {
                padding-top: 10px;
            }

            @media (min-width: $media-xxl) {
                padding-top: 0;
            }

            span {
                display: block;
                position: relative;
                height: 16px;
                width: 16px;
                flex: 0 0 16px;

                &:before,
                &:after {
                    position: absolute;
                    content: "";
                    height: 2px;
                    width: 10px;
                    top: 50%;
                    left: 50%;
                    background: var(--color-gray-60);
                }

                &:before {
                    transform: translate(-50%, -50%) rotate(45deg);
                }

                &:after {
                    transform: translate(-50%, -50%) rotate(130deg);
                }
            }
        }

        &-wrapper {
            flex-grow: 1;
            min-height: 100%;

            @media (min-width: $media-lg) {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                gap: 20px;
            }

            @media (min-width: $media-xxl) {
                align-items: center;
            }
        }

        &-nav {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 40px;
            margin-bottom: 20px;

            @media (min-width: $media-xxl) {
                flex-wrap: nowrap;
                flex-grow: 1;
                margin-bottom: 0;
            }

            .form-select-extend {
                flex: 1 0 100%;
            }
        }
    }

    &__row {
        display: grid;
        gap: 20px;

        @media (min-width: $media-xxl) {
            grid-template-columns: repeat(2, 1fr);
            align-items: stretch;
        }
    }

    &__block {
        background: var(--color-white);
        border: 1px solid var(--color-gray-30);
        border-radius: 10px;
        padding: 15px;

        .card__subtitle {
            margin-top: 0;
            margin-bottom: 20px;
        }

        @media (min-width: $media-lg) {
            padding: 20px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .reports__list {
        height: auto;
        padding: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        margin: 0 -10px;

        @media (min-width: $media-xxl) {
            margin: 0 -20px;
        }

        &-header {
            display: none;
            align-items: center;
            gap: 20px;
            color: var(--color-gray-70);
            padding: 5px 0 20px;

            @media (min-width: $media-md) {
                display: grid;
            }
        }

        &-item {
            padding: 10px;
            border-top: 1px solid var(--color-gray-30);
            border-bottom: none;
            gap: 20px;

            @media (min-width: $media-xxl) {
                padding: 20px 30px 20px 20px;
                // min-height: 80px;
            }
        }
    }

    .card__bottom-actions {
        bottom: 30px;
    }
}

.filters-bottomsheet {
    @media (min-width: $media-xxl) {
        visibility: visible;
        opacity: 1;
        position: fixed;
        inset: auto;
        height: auto;
        width: 100%;
        background: var(--color-white);
        pointer-events: all;
        justify-content: flex-start;
        z-index: 22;
        max-width: 100%;
        border: 1px solid var(--color-gray-30);
    }

    .bottom-sheet__wrapper {
        @media (min-width: $media-xxl) {
            position: relative;
            transform: none !important;
            width: 100%;
            height: auto;
            inset: auto;
            background: transparent;
        }
    }

    .bottom-sheet__body {
        padding: 50px 0 20px;

        @media (min-width: $media-xxl) {
            padding: 0;
            overflow: visible;
            min-height: auto;
        }
    }
}

.filters__wrapper {
    position: relative;
    width: 100%;

    .hint {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;

        @media (min-width: $media-lg) {
            display: block;
        }
    }
}

.filters__period-wrapper {
    display: flex;
    min-width: 100%;

    @media (min-width: $media-xxl) {
        min-width: fit-content;
    }

    .hint {
        display: none;

        @media (min-width: $media-xxl) {
            display: block;
        }
    }
}

.filters__period {
    min-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background: var(--color-gray-10);
    border: 1px solid var(--color-gray-30);

    @media (min-width: 560px) {
        flex-direction: row;
    }

    @media (min-width: $media-lg) {
        min-width: unset;
    }

    &-item {
        width: 100%;

        input {
            position: absolute;
            display: none;
            pointer-events: none;
            visibility: hidden;
        }

        input:checked ~ label {
            background: var(--color-blue-70);
            color: var(--color-white);
        }

        label {
            cursor: pointer;
            text-align: center;
            white-space: nowrap;
            display: block;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            padding: 10px 14px;
            width: 100%;
            border-radius: 10px;
            transition: background var(--trans), color var(--trans);
        }
    }
}
