@use "../../styles/media-breakpoints" as *;

.indicators {
    .loader {
        position: fixed;
    }

    &__employees {
        & > .dashboards__block {
            @media (min-width: $media-xxl) {
                display: grid;
                grid-template-columns: repeat(2, 50%);
            }
        }
    }

    &__financial-metrics {
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        & > .dashboards__block {
            @media (min-width: $media-xxl) {
                display: grid;
                grid-template-columns: repeat(2, 50%);
            }
        }
    }

    &__manager-reports {
        .reports__list {
            max-height: 400px;
            overflow-x: hidden;
            overflow-y: auto;

            @media (min-width: $media-xxl) {
                min-height: 400px;
            }

            &-header {
                grid-template-columns: 1fr 1fr 1fr 27%;
            }

            &-item {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 27%;
            }
        }
    }

    &__funnel-metrics {
        &-statistics {
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: 20px;

            @media (min-width: $media-md) {
                grid-template-columns: repeat(5, 100px);
            }
        }

        .reports__list {
            max-height: 400px;
            overflow-x: hidden;
            overflow-y: auto;

            @media (min-width: $media-xxl) {
                min-height: 400px;
            }

            &-header {
                grid-template-columns: 1fr 1fr 1fr 27%;
            }

            &-item {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 27%;
            }
        }
    }

    &__project-manager-reports {
        .reports__list {
            max-height: 400px;
            overflow-x: hidden;
            overflow-y: auto;

            @media (min-width: $media-xxl) {
                min-height: 400px;
            }

            &-header {
                @media (min-width: $media-md) {
                    grid-template-columns: 1fr 80px 150px 120px 75px;
                }
            }

            &-item {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, auto);

                @media (min-width: $media-md) {
                    grid-template-columns: 1fr 80px 150px 120px 65px;
                }

                .reports__list-item__col:nth-child(1) {
                    grid-column: 1 / 2;
                    grid-row: 1;
                }

                .reports__list-item__col:nth-child(2) {
                    grid-column: 2 / 3;
                    grid-row: 1;
                }

                .reports__list-item__col:nth-child(3) {
                    grid-column: 1;
                    grid-row: 2;
                }

                .reports__list-item__col:nth-child(4) {
                    grid-column: 2;
                    grid-row: 2;
                }

                .rate-switch {
                    grid-column: 3;
                    grid-row: 2;
                }

                .reports__list-item__col:nth-child(1),
                .reports__list-item__col:nth-child(2),
                .reports__list-item__col:nth-child(3),
                .reports__list-item__col:nth-child(4),
                .rate-switch {
                    @media (min-width: $media-md) {
                        grid-column: auto;
                        grid-row: auto;
                    }
                }
            }
        }
    }

    &__completed-reports {
        .reports__list-header {
            grid-template-columns: repeat(3, 1fr);
        }

        .reports__list-item {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.dashboards {
    padding-bottom: 40px;

    &__row {
        display: grid;
        gap: 20px;

        @media (min-width: $media-xxl) {
            grid-template-columns: repeat(2, 50%);
            align-items: stretch;
        }
    }

    &__block {
        background: var(--color-white);
        border: 1px solid var(--color-gray-30);
        border-radius: 10px;
        padding: 15px;

        .card__subtitle {
            margin-top: 0;
            margin-bottom: 20px;
        }

        @media (min-width: $media-lg) {
            padding: 20px;
        }
    }

    &__content {
        display: grid;
        gap: 20px;
    }

    .reports__list {
        height: auto;
        padding: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;

        &-header {
            display: none;
            align-items: center;
            gap: 20px;
            color: var(--color-gray-70);
            padding: 5px 0 20px;

            @media (min-width: $media-md) {
                display: grid;
            }
        }

        &-item {
            padding: 10px 0;
            border-top: 1px solid var(--color-gray-30);
            gap: 20px;

            @media (min-width: $media-xxl) {
                padding: 20px 0;
                min-height: 80px;
            }
        }
    }
}
