@use "../../styles/media-breakpoints" as *;

.indicators {
    .loader {
        position: fixed;
    }

    &__financial-metrics {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__funnel-metrics-statistics {
        grid-template-columns: repeat(3, 1fr);

        @media (min-width: $media-md) {
            grid-template-columns: repeat(5, 100px);
        }
    }
}

.dashboards {
    padding-bottom: 40px;

    &__row {
        display: grid;
        gap: 20px;

        @media (min-width: $media-xxl) {
            grid-template-columns: repeat(2, 1fr);
            align-items: stretch;
        }
    }

    &__block {
        background: var(--color-white);
        border: 1px solid var(--color-gray-30);
        border-radius: 10px;
        padding: 15px;

        .card__subtitle {
            margin-top: 0;
            margin-bottom: 20px;
        }

        @media (min-width: $media-lg) {
            padding: 20px;
        }
    }

    &__content {
        display: grid;
        gap: 20px;
    }

    .reports__list {
        height: auto;
        padding: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;

        &-header {
            display: grid;
            align-items: center;
            gap: 10px;
            color: var(--color-gray-70);
            padding-top: 5px;
            padding-bottom: 20px;
        }

        &-item {
            border-top: 1px solid var(--color-gray-30);
        }
    }

    &__manager-reports {
        .reports__list {
            max-height: 400px;
            overflow-x: hidden;
            overflow-y: auto;

            @media (min-width: $media-xxl) {
                min-height: 400px;
            }

            &-header {
                grid-template-columns: 1fr 1fr 1fr 27%;
            }

            &-item {
                display: grid;
                cursor: pointer;
                grid-template-columns: 1fr 1fr 1fr 27%;
            }
        }
    }
}
