.overlay {
    position: fixed;
    z-index: 22;
    inset: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    transition: opacity var(--trans);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    &-transparent {
        background: transparent;
    }
}
