@use "../../styles/media-breakpoints" as *;

.button-active {
    background: var(--color-orange-70);
    color: var(--color-white);
    border-radius: 10px;
    height: 40px;
    width: 40px;
    flex: 0 0 40px;
    padding: 12px;
    font-weight: 500;
    font-size: 14px;
    transition: background var(--trans), color var(--trans);

    span {
        display: none;
        @media (min-width: $media-lg) {
            display: inline;
        }
    }

    &__icon {
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover {
        background: var(--color-orange-60);
    }

    &:disabled {
        color: var(--color-gray-70);
        background: var(--color-gray-30);
    }

    @media (min-width: $media-lg) {
        line-height: 150%;
        height: auto;
        width: auto;
        flex: 0 0 auto;
        padding: 6px 12px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.action-button {
    background: var(--color-orange-70);
    border: 1px solid var(--color-orange-70);
    color: var(--color-white);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    padding: 7px 16px;
    transition: background var(--trans), color var(--trans), border var(--trans);

    &:hover {
        background: var(--color-orange-60);
    }

    &:disabled {
        color: var(--color-gray-50);
        border: 1px solid var(--color-gray-30);
        background: transparent;
        pointer-events: none;
        cursor: none;
    }
}

.cancel-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--color-gray-70);
    background: var(--color-gray-30);
    border-radius: 10px;
    padding: 8px 16px;
}

.delete-button {
    width: 20px;
    height: 20px;

    &.extended {
        height: 28px;
        width: 28px;
        flex: 0 0 28px;
        border: 1px solid var(--color-red-40);
        background: var(--color-red-30);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.full-state {
        height: auto;
        padding: 2px 12px;
        flex: 0 0 fit-content;
        width: fit-content;
        gap: 8px;
        color: var(--color-red-70);
        transition: color var(--trans);
    }

    &:disabled {
        background: transparent;
        opacity: 0.6;
        border: 1px solid var(--color-gray-30);
        pointer-events: none;
        cursor: none;

        svg {
            color: var(--color-gray-30) !important;
        }
    }

    svg {
        transition: color var(--trans);
        color: var(--color-gray-50);
        pointer-events: none;
    }

    &.extended,
    &:hover {
        svg {
            color: var(--color-red-70);
        }
    }
}

.filter-button {
    position: relative;
    z-index: 24;
    pointer-events: auto;
    cursor: pointer;

    svg {
        color: var(--color-gray-50);
        transition: color var(--trans);
        pointer-events: none;
    }

    &.active,
    &:hover {
        svg {
            color: var(--color-blue-70);
        }
    }
}

.button-add {
    background: var(--color-blue-20);
    border: 1px solid var(--color-blue-30);
    border-radius: 8px;
    color: var(--color-blue-70);
    padding: 6px 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.edit-button {
    height: 28px;
    width: 28px;
    flex: 0 0 28px;
    border: 1px solid var(--color-gray-30);
    border-radius: 8px;
    background: var(--color-white) url("../assets/icons/edit.svg") center
        no-repeat;
    transition: opacity var(--trans);
}

.second-add-button {
    gap: 8px;
    width: fit-content;
    flex: 0 0 fit-content;
    border: 1px solid var(--color-green-40);
    background: var(--color-green-30);
    color: var(--color-green-80);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 12px;
    transition: color var(--trans), background var(--trans);
}
