@use "./media-breakpoints" as *;

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    50% {
        clip-path: polygon(
            50% 50%,
            0 0,
            100% 0,
            100% 100%,
            100% 100%,
            100% 100%
        );
    }
    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
}

body,
.Toastify__toast {
    font-family: var(--font-inter);
}

body *::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

body *::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    background: transparent;
}

body *::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background: var(--color-gray-50);
    border-radius: 4px;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    color: var(--color-gray-100);
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scrollbar-gutter: stable;
}

.wrapper {
    position: relative;
    max-width: 100%;
    min-width: 320px;
    min-height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
    min-height: 0;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: $media-md) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (min-width: $media-lg) {
        padding-left: 25px;
        padding-right: 25px;
    }

    @media (min-width: $media-xl) {
        padding-left: 30px;
        padding-right: 30px;
    }

    @media (min-width: $media-xxl) {
        padding-left: 40px;
        padding-right: 40px;
    }

    @media (min-width: 2000px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.image {
    position: relative;
    overflow: hidden;
}

.image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.basic-multi-select .select__control {
    min-height: 32px;
    border-radius: 0;
    border-width: 2px;
    border-color: oklch(0.872 0.01 258.338);
}

.basic-multi-select .select__indicator {
    padding: 5px;
}

.switch {
    display: grid;
    align-items: center;
    grid-template-columns: minmax(100px, auto) minmax(100px, auto);
    border-radius: 0.5rem;
    border: 1px solid #e0e0e0;
    overflow: hidden;
}

.radio-field input,
.switch input {
    position: absolute;
    display: none;
    pointer-events: none;
    visibility: hidden;
}

.radio-field label,
.switch label {
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 8px 10px;
    background: #fff;
    text-align: center;
    transition: background 0.2s ease-in-out;
    font-size: 14px;
}

.radio-field label {
    padding: 10px;
    text-align: left;
}

.radio-field input:checked + label,
.switch input:checked + label {
    pointer-events: none;
    background: #e0e0e0;
}

.add-button {
    flex: 0 0 20px;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-button span {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.add-button span::before,
.add-button span::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 60%;
    background: #000;
}

.add-button span::before {
    transform: translate(-50%, -50%);
}

.add-button span::after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.delete-button,
.delete-button svg {
    flex: 0 0 20px;
    width: 20px;
    height: 20px;
}

.delete-button svg {
    pointer-events: none;
}

.loader {
    position: absolute;
    inset: 0;
    background: #fff;
    z-index: 21;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    transition: all 0.15s ease-in-out;
}

.loader.transparent {
    background: transparent;
}

.loader__icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
    aspect-ratio: 1 / 1;
}

.loader__icon::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: conic-gradient(
        from 0deg at 50% 50%,
        #2b2b29 0deg,
        rgba(43, 43, 41, 0) 360deg
    );

    -webkit-mask: radial-gradient(
        farthest-side,
        transparent calc(100% - 5px),
        black 0
    );
    mask: radial-gradient(farthest-side, transparent calc(100% - 5px), black 0);

    animation: rotate 2s linear infinite;
}

.form-field:disabled {
    transition: opacity 0.2s ease-in-out;
    opacity: 0.5;
    pointer-events: none;
}

.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    vertical-align: middle;
    color: var(--color-gray-100);
    display: flex;
    align-items: center;
    gap: 10px;

    span {
        display: inline-block;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        color: var(--color-gray-60);

        @media (min-width: $media-lg) {
            font-size: 16px;
        }
    }

    @media (min-width: $media-lg) {
        align-items: flex-start;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
    }
}

.subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 15px;

    @media (min-width: $media-lg) {
        align-items: flex-start;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    span {
        display: inline-block;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        color: var(--color-gray-60);

        @media (min-width: $media-lg) {
            font-size: 16px;
        }
    }
}

.text-blue {
    color: var(--color-blue-80);
}

.action-form {
    &__body {
        padding: 10px 20px 30px;

        @media (min-width: $media-lg) {
            padding: 18px 30px 20px;
        }

        p {
            font-size: 16px;
            line-height: 150%;
        }
    }

    &__footer {
        padding: 10px 20px 20px;
        display: flex;
        justify-content: flex-end;
        gap: 10px;

        > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
        }

        @media (min-width: $media-lg) {
            padding: 10px 30px 30px;
        }
    }
}

.status {
    width: fit-content;
    border-radius: 99px;
    padding: 3px 8px;
    color: var(--color-gray-70);
    background: var(--color-gray-30);
    white-space: nowrap;
    user-select: none;

    &.completed {
        color: var(--color-green-80);
        background: var(--color-green-30);
    }

    &.active {
        color: var(--color-orange-80);
        background: var(--color-orange-30);
    }

    &_completed {
        color: var(--color-orange-80);
        background: var(--color-orange-30);
    }

    &_active {
        color: var(--color-green-80);
        background: var(--color-green-30);
    }

    &_inprogress {
        color: var(--color-purple-80);
        background: var(--color-purple-30);
    }

    &_canceled {
        color: var(--color-red-70);
        background: var(--color-red-30);
    }

    &_await {
        color: var(--color-green-80);
        background: var(--color-green-30);
    }
}

.reports {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex-grow: 1;

    @media (min-width: $media-xxl) {
        min-height: auto;
        flex-grow: 0;
        background: var(--color-white);
        border: 1px solid var(--color-gray-30);
        border-radius: 10px;
        padding: 0;
        margin-bottom: 10px;
    }

    &__body {
        flex-grow: 1;
        min-height: 100%;

        @media (min-width: $media-xxl) {
            min-height: auto;
            flex-grow: none;
        }
    }

    &__footer {
        @media (min-width: $media-xxl) {
            padding: 20px;
        }
    }

    &__add-btn {
        display: none;
        background: var(--color-blue-20);
        border: 1px solid var(--color-blue-30);
        border-radius: 8px;
        padding: 6px 10px;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: var(--color-blue-70);
        width: 100%;

        @media (min-width: $media-xxl) {
            display: block;
        }
    }

    &__tabs {
        padding: 0 40px 20px 20px;
        margin-bottom: 0 !important;

        @media (min-width: $media-xxl) {
            padding: 20px 40px 20px 20px;
        }
    }

    &__list {
        position: relative;
        height: calc(100vh - 115px);
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media (min-width: $media-xxl) {
            height: auto;
            max-height: 395px;
            padding: 0;
            gap: 0;
        }
    }

    &__list-item {
        display: grid;
        align-items: start;
        grid-template-columns: 1fr 1fr 27% 20px;
        gap: 7px;
        cursor: pointer;
        position: relative;
        padding: 20px 0;

        &:not(:last-of-type) {
            border-bottom: 1px solid var(--color-gray-30);
        }

        @media (min-width: $media-xxl) {
            align-items: center;
            grid-template-columns: 1fr 1fr 100px 20px;
            gap: 35px;
            padding: 20px;
        }

        &:hover {
            .delete-button {
                opacity: 1;
            }
        }

        &__status {
            @media (min-width: $media-xxl) {
                font-weight: 500;
                font-size: 12px;
                line-height: 150%;
            }
        }

        .delete-button {
            transition: opacity var(--trans);

            @media (min-width: $media-xxl) {
                opacity: 0;
            }
        }

        &__col {
            display: flex;
            flex-direction: column;

            div {
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
            }

            span {
                font-weight: 400;
                font-size: 12px;
                line-height: 150%;
                color: var(--color-gray-70);
            }
        }
    }
}

.statistics-block {
    padding: 0 20px;
    position: relative;
    overflow: hidden;

    @media (min-width: $media-xxl) {
        background: var(--color-white);
        border: 1px solid var(--color-gray-30);
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 10px;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: stretch;
        gap: 15px 10px;

        @media (min-width: $media-md) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &-label {
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: var(--color-gray-70);
        }

        &-value {
            flex-grow: 1;
            border: 1px solid var(--color-gray-30);
            border-radius: 10px;
            padding: 8px 8px 8px 16px;
            display: flex;
            flex-direction: column;
            gap: 6px;
            overflow: hidden;

            // Замена точки на запятую в числах
            strong {
                font-variant-numeric: tabular-nums;
            }

            strong::after {
                content: "";
            }

            div {
                display: flex;
                align-items: center;
                gap: 10px;
                overflow: hidden;

                small {
                    flex: 0 0 60px;
                }
            }

            strong {
                font-weight: 600;
                font-size: 24px;
                line-height: 120%;
            }

            b {
                font-weight: 500;
                font-size: 14px;
                line-height: 170%;
            }

            small {
                font-weight: 400;
                font-size: 14px;
                line-height: 120%;
            }

            i {
                font-weight: 500;
                font-size: 12px;
                line-height: 120%;
            }
        }

        &-value-block {
            small {
                flex: 0 0 auto !important;
                color: var(--color-gray-70);
            }
        }

        &-value-percent {
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            padding: 5px;
            border-radius: 5px;
            color: var(--color-gray-70);
            background: var(--color-gray-30);

            &.red {
                background: var(--color-red-30);
                color: var(--color-red-70);
            }

            &.green {
                background: var(--color-green-30);
                color: var(--color-green-70);
            }
        }
    }
}

.message {
    font-weight: 400;
    font-size: 12px !important;
    line-height: 140% !important;
    padding: 8px 0;

    &-error {
        color: var(--color-red-60);
    }
}

.person__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.person-block {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 8px;
    }

    &__title {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: var(--color-gray-70);
    }

    &__body {
        display: grid;
        gap: 10px;
    }
}

.toast-multiline {
    white-space: pre-line;
}

.Toastify {
    &__progress-bar {
        opacity: 1 !important;

        &--wrp {
            border-bottom-left-radius: 0 !important;
        }

        &--success {
            background: var(--color-green-60) !important;
        }

        &--error {
            background: var(--color-red-60) !important;
        }
    }

    &__spinner {
        width: 16px !important;
        height: 16px !important;
    }

    &__toast {
        padding: 12px 12px 12px 20px !important;
        font-weight: 600 !important;
        font-size: 14px !important;
        line-height: 120% !important;
        color: var(--color-gray-100) !important;
        border-radius: 8px !important;
        min-height: 41px !important;
        border-left: 8px solid transparent;

        &--default {
            border-left: 8px solid var(--color-gray-60);
        }

        &--success {
            border-left: 8px solid var(--color-green-60);
        }

        &--error {
            border-left: 8px solid var(--color-red-60);
        }
    }

    &__toast-icon {
        width: 16px !important;
        height: 16px !important;
        margin-right: 12px !important;
    }
}

.registry {
    &__header {
        padding: 20px 0 30px;

        @media (min-width: $media-lg) {
            padding: 40px 0 30px;
        }
    }
}

.misc-list {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;

    &__item {
        padding: 3px 8px;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: var(--color-gray-60);
        border: 1px solid var(--color-gray-40);
        border-radius: 99px;
    }
}

.sort-btn {
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    display: flex;
    align-items: center;
    gap: 5px;

    div {
        display: block;
        position: relative;
        background: var(--color-gray-50);
        height: 1.5px;
        width: 9px;
        transition: all var(--trans);

        &::before,
        &::after {
            content: "";
            position: absolute;
            background: var(--color-gray-50);
            height: 1.5px;
            width: 9px;
            left: 0;
            transition: all var(--trans);
        }

        &::before {
            top: 3px;
        }

        &::after {
            bottom: 3px;
        }
    }

    &_ascending {
        div {
            width: 7px;

            &::before {
                top: 4px;
                width: 5px;
            }

            &::after {
                bottom: 4px;
            }
        }
    }

    &_descending {
        div {
            width: 7px;

            &::before {
                top: 4px;
            }

            &::after {
                bottom: 4px;
                width: 5px;
            }
        }
    }
}
