@use "./media-breakpoints" as *;

.registry {
    &__container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .title {
            flex-shrink: 0;
        }
    }

    &__table-section {
        flex-grow: 1;
        overflow-x: auto;
        overflow-y: auto;
        padding-bottom: 40px;
        position: relative;
        max-height: calc(
            100vh - 165px
        ); // Вычитаем высоту заголовка и других элементов

        @media (min-width: $media-xxl) {
            overflow-x: unset;
        }
    }
}

.registry-table {
    &__thead {
        font-weight: 600;
        font-size: 13px;
        line-height: 150%;
        text-align: left;
        border-bottom: 1px solid var(--color-gray-30);
        position: sticky;
        top: 0;
        z-index: 22;
        background: var(--color-white);

        .custom-datepicker,
        .multi-select {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 23;

            @media (min-width: $media-lg) {
                position: absolute;
                top: 40px;
                transform: translateX(-50%);
            }
        }

        &-label {
            // overflow: hidden;
            // white-space: nowrap;
            // text-overflow: ellipsis;
            max-width: 250px;
            position: relative;
            z-index: 0;
        }

        &-label-date {
            position: relative;
            overflow: visible;

            .hint__message {
                top: calc(100% + 10px);
                min-height: fit-content;
            }

            &:hover {
                .hint__message {
                    opacity: 1;
                    visibility: visible;
                }
            }

            span {
                display: block;
                max-width: 65px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }

        &-item {
            display: flex;
            align-items: flex-start;
            gap: 5px;
            position: relative;
            z-index: 23;

            > span {
                flex: 0 0 16px;
                height: 16px;
            }

            .filter-button {
                position: relative;
                z-index: 24;
            }
        }

        th {
            padding: 30px 15px 15px;
            position: relative;
            vertical-align: top;
            background: var(--color-white);
            z-index: 22;
        }

        th:first-of-type .registry-table__thead-item {
            .multi-select {
                @media (min-width: $media-lg) {
                    left: 0;
                    transform: none;
                }
            }
        }

        th:last-of-type .registry-table__thead-item {
            .multi-select {
                @media (min-width: $media-lg) {
                    left: auto;
                    transform: none;
                    right: 0;
                }
            }
        }
    }

    &__tbody {
        @media (min-width: $media-xxl) {
            overflow-x: hidden;
        }
    }

    &__item {
        position: relative;
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        color: var(--color-gray-100);
        border-bottom: 1px solid var(--color-gray-30);
        transition: background var(--trans);

        > td {
            padding: 15px;
            padding-left: 15px;
        }

        strong {
            font-weight: 600;
            font-size: 16px;
            line-height: 120%;
        }

        &:hover {
            background: var(--color-gray-20);

            .delete-button {
                @media (min-width: $media-xxl) {
                    opacity: 1;
                }
            }

            .registry-table__item-actions:not(
                    .registry-table__item-actions_col
                ) {
                opacity: 1;
            }
        }

        &-actions {
            display: flex;
            align-items: center;
            gap: 10px;
            transition: opacity var(--trans);

            &_col {
                flex-direction: column;
                gap: 5px;
                padding: 0 15px 0 0;
            }

            @media (min-width: $media-xxl) {
                opacity: 0;
            }
        }

        .hidden-group {
            z-index: 1;
            position: relative;
            width: fit-content;

            &:hover {
                z-index: 10;

                .hidden-text {
                    visibility: visible;
                    opacity: 1;
                    max-height: fit-content;
                }

                .visible-text {
                    opacity: 0;
                    visibility: hidden;
                }
            }

            .visible-text {
                position: relative;
                z-index: -1;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                // max-width: 130px;
                transition: opacity var(--trans);
            }

            .hidden-text {
                border-radius: 10px;
                position: absolute;
                left: -5px;
                top: -5px;
                z-index: 2;
                width: max-content;
                max-width: 400px;
                max-height: 0;
                overflow: hidden;
                opacity: 0;
                visibility: hidden;
                padding: 5px;
                transition: opacity var(--trans);
                background: var(--color-white);
                box-shadow: 0 6px 20px rgb(230 230 230);
                white-space: normal;
            }
        }

        .delete-button {
            transition: opacity var(--trans);

            @media (min-width: $media-xxl) {
                opacity: 0;
            }
        }

        &-status {
            font-weight: 500;
            font-size: 12px;
            line-height: 150%;
            white-space: nowrap;
            width: fit-content;
            border-radius: 99px;
            padding: 3px 8px;
            color: var(--color-gray-70);
            background: var(--color-gray-30);

            &_completed {
                color: var(--color-orange-80);
                background: var(--color-orange-30);
            }

            &_active {
                color: var(--color-green-80);
                background: var(--color-green-30);
            }

            &_inprogress {
                color: var(--color-purple-80);
                background: var(--color-purple-30);
            }

            &_canceled {
                color: var(--color-red-70);
                background: var(--color-red-30);
            }

            &_await {
                color: var(--color-green-80);
                background: var(--color-green-30);
            }
        }

        &-budget {
            b {
                display: block;
                font-weight: 600;
                font-size: 16px;
            }

            span {
                color: var(--color-gray-60);
            }
        }

        &-period {
            > span {
                color: var(--color-gray-60);
            }

            div > span {
                display: block;
                padding: 4px 5px;
                width: fit-content;
                font-size: 12px;
                line-height: 100%;
                text-align: center;
                color: var(--color-gray-60);
                border: 1px solid var(--color-gray-60);
                border-radius: 5px;
            }
        }

        &-last-report {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 10px;

            div {
                width: 115px;
                padding: 5px 8px 5px 28px;
                border: 1px solid var(--color-gray-50);
                color: var(--color-gray-70);
                border-radius: 50px;
                line-height: 100%;
                background-image: url("../assets/icons/in-progress.svg");
                background-size: 16px 16px;
                background-position: left 8px top 50%;
                background-repeat: no-repeat;

                &.completed {
                    border: 1px solid var(--color-green-70);
                    color: var(--color-green-70);
                    background-image: url("../assets/icons/success.svg");
                }

                &.inprogress {
                    border: 1px solid var(--color-purple-80);
                    color: var(--color-purple-80);
                    background-image: url("../assets/icons/in-progress_purpule.svg");
                }
            }
        }
    }

    &__item_extended {
        position: relative;

        &:hover {
            background: transparent;
        }

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background: var(--color-gray-20);
            border-radius: 10px;
            z-index: -1;
        }

        & > td:first-of-type {
            padding-left: 15px;
        }

        & > td:last-of-type {
            padding-right: 15px;
        }

        // Закругляем края у ячеек в справочнике контактов

        .registry-table__item-actions_col,
        .extended__info {
            &::after {
                content: "";
                position: absolute;
                background: transparent;
                inset: 0;
                width: 100%;
                height: 100%;
                transition: background-color 0.2s ease;
                z-index: 0;
            }

            div,
            span {
                position: relative;
                z-index: 1;
            }
        }

        .extended__info.first-block {
            &::after {
                border-radius: 10px 0 0 10px;
            }
        }

        .registry-table__item-actions_col {
            &::after {
                border-radius: 0 10px 10px 0;
            }
        }

        .hovered {
            .registry-table__item-actions_col,
            .extended__info {
                &::after {
                    background-color: var(--color-gray-30);
                }
            }

            .registry-table__item-actions_col {
                opacity: 1;

                button {
                    z-index: 1;
                }
            }
        }

        .registry-table__item-actions {
            align-items: flex-end;
        }
    }

    .extended__info {
        display: flex;
        flex-direction: column;
        padding: 15px;
        min-height: 100%;

        span {
            color: var(--color-gray-60);
        }
    }
}
