@use "../../styles/media-breakpoints" as *;

.home {
    background: var(--color-gray-20);

    &__container {
        padding-top: 40px;

        @media (min-width: $media-xl) {
            padding-bottom: 40px;
        }
    }

    &__tabs {
        flex-wrap: nowrap !important;
        overflow-x: auto;
        margin: 0 -15px;
        white-space: nowrap;
        padding: 0 15px 10px;

        @media (min-width: $media-lg) {
            margin: 0;
            padding: 0;
            margin-bottom: 0 !important;
        }

        .card__tabs-item.disabled {
            opacity: 0.5;
            pointer-events: none;

            label {
                cursor: not-allowed;
                opacity: 0.5;
            }
        }
    }
}
