@use "../../styles/media-breakpoints" as *;

.management-reports__list {
    gap: 0;

    &.reports__list:not(.list--scroll) {
        li {
            padding: 20px 28px 20px 20px;
        }
    }
}

.management-reports__item {
    display: grid;
    gap: 10px;
    align-items: start;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px 0;
    cursor: pointer;
    transition: background var(--trans);

    &:hover {
        background: var(--color-gray-20);
    }

    &:not(:last-of-type) {
        border-bottom: 1px solid var(--color-gray-30);
    }

    @media (min-width: 480px) {
        grid-template-columns: 1fr 1fr 100px 60px;
        grid-template-rows: auto;
    }

    @media (min-width: $media-md) {
        gap: 20px;
    }

    @media (min-width: $media-xxl) {
        padding: 20px;
    }

    .reports__list-item__status {
        margin: 0;
    }

    &__col {
        > p {
            font-weight: 400;
            font-size: 14px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }
    }
}
