@use "../../styles/media-breakpoints" as *;

.employee {
    &-card {
        .current-workload__header {
            display: none;
            align-items: center;
            grid-template-columns: 22% 22% 15% 1fr;
            gap: 10px;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: var(--color-gray-70);
            padding: 0 0 20px;
            border-bottom: 1px solid var(--color-gray-30);

            @media (min-width: $media-lg) {
                display: grid;
            }

            @media (min-width: $media-xxl) {
                gap: 30px;
            }
        }
    }

    &-card-projects {
        .card-projects__item {
            cursor: unset;
            border-radius: 0;
            border: none !important;
            border-bottom: 1px solid var(--color-gray-30) !important;
            background: transparent !important;
            padding-left: 0;
            padding-right: 0;

            @media (min-width: $media-lg) {
                grid-template-columns: 22% 22% 15% 1fr;
            }

            .employee-projects__item-period {
                grid-column: 3 / 5;

                @media (min-width: $media-lg) {
                    grid-column: unset;
                }
            }

            .employee-projects__item-role {
                grid-column: 1 / 2;

                @media (min-width: $media-lg) {
                    grid-column: unset;
                }
            }

            .card-projects__item-progress {
                grid-column: 2 / 5;

                @media (min-width: $media-lg) {
                    grid-column: unset;
                }
            }
        }
    }

    &-card__workload-summary {
        padding: 20px 0;

        @media (min-width: $media-xxl) {
            border-radius: 10px;
            background: var(--color-white);
            padding: 20px;
            border: 1px solid var(--color-gray-30);
            margin-bottom: 20px;
        }

        .card__subtitle {
            font-weight: 600;
            font-size: 20px;
            line-height: 120%;
            margin-top: 0;
            gap: 6px;
        }

        &__header {
            display: grid;
            align-items: start;
            gap: 12px;
            margin-bottom: 20px;

            @media (min-width: $media-md) {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        &__list {
            display: grid;
            gap: 20px;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;

            &-item-hours {
                display: flex;
                align-items: center;
                gap: 3.5px;
            }

            &-item-main {
                display: grid;
                align-items: center;
                gap: 20px;
                grid-template-columns: 1fr 65px 55px;
                margin-bottom: 6.5px;
            }

            &-item-percentage {
                font-weight: 600;
                font-size: 16px;
                line-height: 150%;
                text-align: right;
            }
        }
    }

    &-card__personal-workload {
        padding: 20px 0;

        @media (min-width: $media-xxl) {
            border-radius: 10px;
            background: var(--color-white);
            padding: 20px;
            border: 1px solid var(--color-gray-30);
        }

        .card__subtitle {
            font-weight: 600;
            font-size: 20px;
            line-height: 120%;
            margin-top: 0;
        }

        &__header {
            display: grid;
            align-items: start;
            gap: 12px;
            margin-bottom: 20px;

            @media (min-width: $media-md) {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        &__list {
            &-actions {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 15px;
                margin-top: 15px;

                button {
                    flex: 1 0 auto;
                }
            }

            &-result {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                color: var(--color-blue-70);
                font-weight: 600;
                font-size: 16px;
                line-height: 150%;
                padding: 8px 13px;
                border-radius: 10px;
                background: var(--color-blue-20);
                margin-top: 15px;
            }

            &-item {
                display: grid;
                align-items: start;
                gap: 20px;
                grid-template-columns: 1fr 1fr 65px;
                padding: 15px 0;
                border-bottom: 1px solid var(--color-gray-30);

                strong {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 150%;
                }

                span {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 150%;
                    color: var(--color-gray-70);
                }

                &__name,
                &__period {
                    display: grid;
                }

                &__percentage {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 1px;
                    border: 1px solid var(--color-gray-30);
                    background: var(--color-gray-20);
                    padding: 10px 13px;
                    border-radius: 10px;

                    span {
                        color: var(--color-gray-100);
                    }

                    input {
                        flex: 0 0 25px;
                        max-width: 25px;
                        text-align: right;

                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}
