@use "../../styles/media-breakpoints" as *;

.sale {
    .read-mode {
        .sale-contragents__list-item {
            background: transparent;
        }
    }

    &-new-contragent-window {
        .action-form__body {
            display: flex;
            flex-direction: column;
            gap: 20px;
            min-height: 310px;
            max-height: 310px;
        }

        .form-select__list {
            max-height: 100%;
        }
    }

    &-contragents__list {
        margin-bottom: 20px;
        display: grid;
        gap: 20px;
        width: 100%;

        &-item {
            background: var(--color-gray-20);
            border: 1px solid var(--color-gray-30);
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            padding: 10px 13px;
            min-height: 50px;
            border-radius: 10px;
            transition: box-shadow var(--trans);
            display: flex;
            align-items: center;
            width: 100%;

            &:hover {
                box-shadow: 0px 8px 8px 0px #0020330a;
            }

            div {
                width: 100%;
            }
        }
    }

    &-funnel-stages {
        .card__subtitle {
            margin-top: 0;
        }

        .button-active {
            width: fit-content;
            margin: 10px 0;
        }

        .cancel-button {
            width: fit-content;
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 10px;

            &-item {
                border-radius: 10px;
                border: 1px solid var(--color-gray-30);
                background: var(--color-white);
                padding: 15px 10px 15px 20px;

                .status {
                    padding: 4px 10px;
                }

                &__date {
                    position: relative;

                    .custom-datepicker__field {
                        background: var(--color-gray-20);
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 150%;

                        input {
                            width: 120px;
                        }
                    }

                    .hint {
                        position: absolute;
                        margin: 0;
                        top: 0;
                        right: -15px;
                    }
                }

                &__open-btn {
                    width: 40px;
                    height: 40px;
                    background: url("../../assets/icons/arrow-right.svg") center
                        no-repeat;
                    transition: transform var(--trans);
                }

                &__row {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;

                    @media (min-width: $media-md) {
                        grid-template-columns: 1fr 120px 60px 40px;
                        gap: 23px;
                    }
                }
            }

            &-item.active {
                .sale-funnel-stages__list-item__open-btn {
                    transform: rotate(90deg);
                }
            }
        }
    }

    &-stage-datails {
        padding-top: 23px;
        padding-right: 10px;

        &__header {
            margin-bottom: 13px;
        }

        &__list {
            display: flex;
            align-items: center;
            gap: 10px;
            min-width: 100%;

            > div {
                display: flex;
                flex-direction: column;
                gap: 10px;

                input {
                    min-width: 0;
                    flex-grow: 1;
                }
            }

            > div:first-of-type {
                flex: 1 0 auto;
            }
        }

        &__change {
            flex: 0 0 25%;

            @media (min-width: $media-md) {
                flex: 0 0 45%;
            }

            span {
                display: none;

                @media (min-width: $media-md) {
                    display: inline;
                }
            }
        }

        .form-field {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        &__body {
            overflow-y: auto;
            max-height: 500px;
        }
    }
}

.services {
    &__list {
        display: grid;
        gap: 10px;
        margin-bottom: 20px;

        &-item {
            position: relative;
            padding: 9px 16px;
            display: grid;
            gap: 5px;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            border: 1px solid var(--color-gray-30);
            border-radius: 10px;
            transition: background var(--trans);

            &:hover {
                background: var(--color-gray-20);

                @media (min-width: $media-xxl) {
                    .delete-button {
                        opacity: 1;
                        visibility: visible;
                        pointer-events: all;
                    }

                    .services__list-item-cost {
                        opacity: 0;
                        visibility: hidden;
                        pointer-events: none;
                    }
                }
            }

            @media (min-width: 680px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (min-width: $media-xxl) {
                grid-template-columns: 75% 25%;
            }

            &-row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;

                @media (min-width: 680px) {
                    justify-content: flex-end;
                }
            }

            &-cost {
                display: flex;
                align-items: center;
                gap: 10px;
                transition: opacity var(--trans);
            }

            &-percent {
                line-height: 100%;
                padding: 5px;
                border-radius: 5px;
            }

            .delete-button {
                transition: opacity var(--trans);

                @media (min-width: $media-xxl) {
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                }

                svg {
                    color: var(--color-red-70);
                }
            }
        }
    }
}

.sale-funnel-stages__head {
    display: grid;
    color: var(--color-gray-70);
    font-weight: 500;

    @media (min-width: $media-xxl) {
        grid-template-columns: 55% 17% 19%;
    }

    @media (min-width: 1900px) {
        grid-template-columns: 60% 16% 19%;
    }

    & > div {
        padding-left: 22px;
    }
}
