@use "../../styles/media-breakpoints" as *;

.sale-new-contragent-window {
    .action-form__body {
        display: flex;
        flex-direction: column;
        gap: 20px;
        min-height: 310px;
        max-height: 310px;
    }

    .form-select__list {
        max-height: 100%;
    }
}

.sale-contragents__list {
    margin-bottom: 20px;
    display: grid;
    gap: 20px;

    @media (min-width: $media-md) {
        grid-template-columns: repeat(2, 1fr);
    }

    &-item {
        background: var(--color-gray-20);
        border: 1px solid var(--color-gray-40);
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        padding: 16px 20px;
        border-radius: 10px;
        transition: box-shadow var(--trans);

        &:hover {
            box-shadow: 0px 8px 8px 0px #0020330a;
        }
    }
}

.services {
    &__list {
        display: grid;
        gap: 10px;
        margin-bottom: 20px;

        &-item {
            position: relative;
            padding: 9px 16px;
            display: grid;
            gap: 5px;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            border: 1px solid var(--color-gray-30);
            border-radius: 10px;
            transition: background var(--trans);

            &:hover {
                background: var(--color-gray-20);

                @media (min-width: $media-xxl) {
                    .delete-button {
                        opacity: 1;
                        visibility: visible;
                        pointer-events: all;
                    }

                    .services__list-item-cost {
                        opacity: 0;
                        visibility: hidden;
                        pointer-events: none;
                    }
                }
            }

            @media (min-width: 680px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (min-width: $media-xxl) {
                grid-template-columns: 75% 25%;
            }

            &-row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;

                @media (min-width: 680px) {
                    justify-content: flex-end;
                }
            }

            &-cost {
                display: flex;
                align-items: center;
                gap: 10px;
                transition: opacity var(--trans);
            }

            .delete-button {
                transition: opacity var(--trans);

                @media (min-width: $media-xxl) {
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                }

                svg {
                    color: var(--color-red-70);
                }
            }
        }
    }
}
