@use "../../styles/media-breakpoints" as *;

.services {
    &__list {
        display: grid;
        gap: 10px;
        margin-bottom: 20px;

        &-item {
            padding: 9px 16px;
            display: grid;
            gap: 5px;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            border: 1px solid var(--color-gray-30);
            border-radius: 10px;
            transition: background var(--trans);

            &:hover {
                background: var(--color-gray-20);
            }

            @media (min-width: 680px) {
                grid-template-columns: repeat(2, 1fr);
            }

            &-row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;

                @media (min-width: 680px) {
                    justify-content: flex-end;
                }
            }

            &-cost {
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
    }
}
