.hint {
    width: 12.5px;
    height: 12.5px;
    position: relative;
    display: inline-block;
    margin-left: 4px;

    &:before {
        content: "";
        position: absolute;
        border: 6px solid transparent;
        border-top: 6px solid var(--color-gray-90);
        bottom: calc(100% + -2px);
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
        transition: opacity var(--trans);
    }

    &__message {
        width: max-content;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        left: 50%;
        transform: translateX(-50%);
        bottom: calc(100% + 10px);
        padding: 8px;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        text-align: left;
        color: var(--color-primary);
        border-radius: 4px;
        background: var(--color-gray-90);
        transition: opacity var(--trans);
        min-width: fit-content;
        max-width: 275px;
        z-index: 99;
        pointer-events: none;
        white-space: pre-line;
    }

    &:hover {
        .hint__icon {
            color: var(--color-blue-70);
        }

        &:before,
        .hint__message {
            opacity: 1;
            visibility: visible;
        }
    }

    &--bottom {
        &:before {
            border-top: 6px solid transparent;
            border-bottom: 6px solid var(--color-gray-90);
            top: calc(100% + -2px);
            bottom: auto;
        }

        .hint__message {
            top: calc(100% + 10px);
            bottom: auto;
            text-align: left;
        }
    }

    &--right {
        &:before {
            top: calc(100% - 13px);
            left: calc(100% + 8px);
            bottom: auto;
            border: none;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-right: 6px solid var(--color-gray-90);
        }

        .hint__message {
            word-wrap: break-word;
            top: calc(100% - 15px);
            bottom: auto;
            left: calc(100% + 10px);
            text-align: left;
            max-width: 280px;
            width: max-content;
            min-width: 20px;
            transform: none;
            overflow-y: auto;
            max-height: 120px;
        }
    }

    &--left {
        &:before {
            top: calc(100% - 13px);
            left: calc(100% + 8px);
            bottom: auto;
            border: none;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-right: 6px solid var(--color-gray-90);
        }

        .hint__message {
            word-wrap: break-word;
            top: calc(100% - 15px);
            bottom: auto;
            left: calc(100% + 10px);
            text-align: left;
            max-width: 280px;
            width: max-content;
            min-width: 20px;
            transform: none;
            overflow-y: auto;
            max-height: 120px;
        }
    }

    &__icon {
        color: var(--color-gray-40);
        transition: color var(--trans);
    }
}
